/*
========================
------> COLORS <------
========================
*/
/*
bgColor: #242424;
textColor: rgb(32,32,32);
inputBorderBottom: rgb(223, 223, 228);
inputBorderActive: rgb(83, 31, 192);
gradientFrom: rgb(134,88,235);
gradientTo: rgb(101,42,230);
boxShadow: rgba(32, 31, 54, 0.05);
activeStyle: rgb(27, 254, 192);
gray: rgb(223, 223, 228);
white: #ffffff;
*/
